
window {
  background-color: transparent;
}

.workspaces {
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

.workspace {
  /* border: 1px solid rgba(100, 100, 100, 1); */
  padding: 0px 5px 5px 5px; 
  margin: 5px 0px 5px 0px;
  background-color: transparent;
  & + & {
    border-left: 1px solid rgba(100, 100, 100, 1);
  }
}

.workspace .number {
  /* border: 1px solid rgba(100, 100, 100, 1); */
  color: #9f9f9f;
  padding: 5px 5px 5px 5px; 
}

.workspace .icon{
  /* border: 1px solid rgba(100, 100, 100, 1); */
  background-color: transparent;
  padding: 0px;
  margin-right: 0px;
}

.weather {
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  color: #9f9f9f;
  padding: 0px;
  margin: 0px;
}
