
window {
  background-color: transparent;
}

.bar {
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 5px;
  padding: 0px;
}

.workspace {
  padding: 5px;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
  & + & {
    border-left: 1px solid rgba(100, 100, 100, 1);
    margin-left: 10px;
  }
}

.workspace .number {
  color: #9f9f9f;
  padding: 5px 5px 5px 10px; 
}


.workspace .icon{
  background-color: transparent;
  padding: 0px;
  margin-right: 0px;
}


