$background-color: rgba(#dfdfdf, .8);
$text-color: rgba(#000000, 1);
$border-color: rgba(#3a3a3a, .2);
$active-color: rgba(#ffffff, .2);

* {
  /* border: 1px solid $border-color; */
}

window {
  color: $text-color;
  font-weight: bold;
  font-family: "", monospace;
  background-color: transparent;
}

.workspace {
  /* border: 1px solid rgba(100, 100, 100, 1); */
  padding: 0px 5px 0px 5px; 
  margin: 5px 0px 5px 0px;
  background-color: transparent;
  & + & {
    border-left: 1px solid $border-color;
  }
}

.workspace .number {
  /* border: 1px solid rgba(100, 100, 100, 1); */
  padding: 5px 5px 5px 5px; 
}

.workspace .icon{
  /* border: 1px solid rgba(100, 100, 100, 1); */
  background-color: transparent;
  padding: 0px;
  margin-right: 0px;
}

.pill{
  border-radius: 15px;
  background-color: $background-color;
  padding: 0px 10px;
  & + & {
    margin-left: 5px;
  }
}

.weather-icon {
  border-radius: 15px;
  padding: 0px
}

.system {
    margin-right: 5px;
}

.weather {
  background-color: $background-color;
  margin: 0px 5px 0px 0px;
}

.active-marker {
  font-size: 5px;
}

